<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.knip.base.prefs.MainPreferencePage"
            class="org.knime.knip.ilastik.nodes.IlastikPreferencePage"
            id="org.knime.knip.ilastik.nodes.IlastikPreferencePage"
            name="Ilastik">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            expert-flag="false"
            factory-class="org.knime.knip.ilastik.nodes.hdf5reader.IlastikHDF5ReaderNodeFactory"
            id="org.knime.knip.ilastik.nodes.IlastikExportReaderNodeFactory">
      </node>
      <node
            expert-flag="false"
            factory-class="org.knime.knip.ilastik.nodes.hilitebridge.IlastikHiliteBridgeNodeFactory"
            id="org.knime.knip.ilastik.nodes.IlastikHiliteBridgeNodeFactory">
      </node>
      <node
            expert-flag="false"
            factory-class="org.knime.knip.ilastik.nodes.headless.IlastikHeadlessNodeFactory"
            id="org.knime.knip.ilastik.nodes.headless.IlastikHeadlessNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="ilastik"
            locked="true"
            name="Ilastik"
            path="/">
      </category>
   </extension>
</plugin>
